<article class="player-main">

  <section class="content  --center  search" ng-controller="Search">
    <input type="text" class="search__query" ng-model="search.query" ng-keyup="runSearch()" placeholder="Search..." />
  </section>

  <section class="content  --center  player" ng-controller="Player" ng-class="{ '--playing': playing }">
    <button class="player__play-pause" ng-click="playPause()" ng-class="{ '--stop': playing }"><span class="vh">Play/Pause</button>
    <button class="player__prev" ng-click="previousTrack()"><span class="vh">Previous</button>

    <div class="player__progress">
      <p class="player__duration__current__lower" ng-bind-html="currentTime"></p>
      <p class="player__duration__remaining__lower" ng-bind-html="timeRemaining" ng-class="{ '--off': reverseRemaining }"></p>
      <div class="player__progress__inner" ng-style="progressStyles">
        <p class="player__duration__current__upper" ng-bind-html="currentTime"></p>
        <p class="player__duration__remaining__upper" ng-bind-html="timeRemaining" ng-class="{ '--on': reverseRemaining }"></p>
      </div>
    </div>

    <button class="player__next" ng-click="nextTrack()"><span class="vh">Next</button>
  </section>

  <section class="content  --center  master-playlist" ng-controller="MasterPlaylist">
    <div class="master-playlist__previous">

    </div>
    <div class="master-playlist__current-track">

    </div>
    <div class="dropzone" ng-controller="Dropzone" data-drop="true" ng-class="{ '--active': active }" jqyoui-droppable="{ onDrop: 'dragDrop' }">drop</div>
    <ul>
      <li ng-repeat="track in tracks track by $index">
        <p ng-bind-html="track.name"></p>
      </li>
    </ul>
  </section>

  <aside class="sidebar" ng-controller="TrackSidebar">
    <div class="sidebar__playlists" ng-controller="Playlists">
      <ul>
        <li class="playlist" ng-repeat="playlist in playlists" ng-class="{ '--disabled': ! playlist.tracks || ! playlist.tracks.length, '--active': playlist.activeTracks }">
          <div class="playlist__title" ng-click="showPlaylist( $event, playlist )">
            <img class="playlist__title__image" ng-if="playlist.image" ng-src="{{playlist.image}}" />
            <p class="playlist__title__text" ng-bind-html="playlist.name"></p>
          </div>
          <div class="playlist__tracks">
            <ul>
              <li ng-repeat="track in playlist.activeTracks" data-drag="true" jqyoui-draggable="{ animate: true, onStart: 'dragStart( track )', onStop: 'dragStop( track )' }" data-jqyoui-options="{ appendTo: 'body', helper: 'clone' }" repeat-done-event>
                <p ng-bind-html="track.track.name" ng-dblclick="playTrack( track.track )"></p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </aside>

  <aside class="sidebar  --right">
    <p>Some'n sure gonna happen in here eventually.</p>
  </aside>

</article>
