<article class="player-main">

  <section class="content  --center  --fixed  search" ng-controller="Search" ng-class="{ '--focus': focus }">
    <input type="text" class="search__query" placeholder="Search..." ng-model="search.query" ng-keyup="runSearch()" ng-focus="focus = true" ng-blur="focus = false" />
    <button class="search__close" ng-click="closeSearch()"><span class="vh">Close search</span></button>
    <div class="search__results">
      <div class="search__results__content">
        <h4>Tracks</h4>
        <ul class="search__results__tracks">
          <li ng-repeat="row in results.tracks.items.slice( 0, 10 )" ng-bind-html="row.name" repeat-done-event></li>
        </ul>

        <h4>Artists</h4>
        <ul class="search__results__artists">
          <li ng-repeat="row in results.artists.items.slice( 0, 10 )" ng-bind-html="row.name" repeat-done-event></li>
        </ul>

        <h4>Albums</h4>
        <ul class="search__results__albums">
          <li ng-repeat="row in results.albums.items.slice( 0, 10 )" ng-bind-html="row.name" repeat-done-event></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="content  --center  player" ng-controller="Player" ng-class="{ '--playing': playing }">
    <button class="player__play-pause" ng-click="playPause()" ng-class="{ '--stop': playing }"><span class="vh">Play/Pause</button>
    <button class="player__prev" ng-click="previousTrack()"><span class="vh">Previous</button>

    <div class="player__progress">
      <p class="player__duration__current__lower" ng-bind-html="currentTime"></p>
      <p class="player__duration__remaining__lower" ng-bind-html="timeRemaining" ng-class="{ '--off': reverseRemaining }"></p>
      <div class="player__progress__inner" ng-style="progressStyles">
        <p class="player__duration__current__upper" ng-bind-html="currentTime"></p>
        <p class="player__duration__remaining__upper" ng-bind-html="timeRemaining" ng-class="{ '--on': reverseRemaining }"></p>
      </div>
    </div>

    <button class="player__next" ng-click="nextTrack()"><span class="vh">Next</button>
  </section>

  <section class="content  --center  master-playlist" ng-controller="MasterPlaylist">
    <div class="master-playlist__previous"></div>

    <div class="master-playlist__current-track" ng-show="currentTrack" ng-class="{ '--active': playing }">
      <img ng-src="{{currentTrack.thumbnail}}" border="0" />
      <div class="master-playlist__current-track__content">
        <strong ng-bind-html="currentTrack.name"></strong>
        <p ng-bind-html="currentTrack.artist_string"></p>
      </div>
    </div>

    <ul class="master-playlist__tracks" data-drop="true" ng-class="{ '--active': active, '--hover': hover }" jqyoui-droppable="{ onDrop: 'dragDrop', onOver: 'dragOver', onOut: 'dragOut' }">
      <li class="master-playlist__tracks__track" ng-repeat="track in tracks track by $index" ng-dblclick="playTrack( track )" data-drag="true" jqyoui-draggable="{ animate: true, onStart: 'dragStart( track, $index )', onStop: 'dragStop( track )' }" data-jqyoui-options="{ appendTo: 'body', helper: 'clone' }">
        <strong ng-bind-html="track.name"></strong>
        <span class="master-playlist__tracks__track__divider" ng-bind-html="' - '"></span>
        <span ng-bind-html="track.artist_string"></span>

        <ul class="master-playlist__tracks__track__menu">
          <li class="master-playlist__tracks__track__menu__delete" ng-click="removeTrack( $index )">
            <span class="vh">Delete track</span>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <aside class="sidebar" ng-controller="TrackSidebar">
    <div class="sidebar__playlists" ng-controller="Playlists">
      <ul>
        <li class="playlist" ng-repeat="playlist in playlists" ng-class="{ '--disabled': ! playlist.tracks || ! playlist.tracks.length, '--active': playlist.activeTracks }">
          <div class="playlist__title" ng-click="showPlaylist( $event, playlist )">
            <img class="playlist__title__image" ng-if="playlist.image" ng-src="{{playlist.image}}" />
            <p class="playlist__title__text" ng-bind-html="playlist.name"></p>
          </div>
          <div class="playlist__tracks">
            <ul>
              <li class="playlist__tracks__track" ng-repeat="track in playlist.activeTracks" data-drag="true" jqyoui-draggable="{ animate: true, onStart: 'dragStart( track )', onStop: 'dragStop( track )' }" data-jqyoui-options="{ appendTo: 'body', helper: 'clone' }" repeat-done-event>
                <p ng-bind-html="track.track.playlist_title" ng-dblclick="playTrack( track.track )"></p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </aside>

  <aside class="sidebar  --right">
    <p>Some'n sure gonna happen in here eventually.</p>
  </aside>

</article>
