<article class="player-main">

  <div class="top-bar"></div>

  <section class="search" ng-controller="Search" ng-class="{ '--focus': focus }">

    <input type="text" class="search__query" placeholder="Search..." ng-model="search.query" ng-keyup="runSearch()" ng-focus="focus = true" ng-blur="focus = false" />

    <button class="search__close" ng-click="closeSearch()"><span class="vh">Close search</span></button>

    <div class="search__results">
      <div class="search__results__content">
        <h4>Tracks</h4>
        <ul class="search__results__tracks">
          <li class="search__results__track" ng-repeat="row in results.tracks.items.slice( 0, 10 )" ng-dblclick="addToPlaylist( row )" repeat-done-event>
            <span ng-bind-html="row.name"></span>

            <ul class="search__results__track__menu">
              <li class="search__results__track__menu__add" ng-click="addToPlaylist( row )"><span class="vh">Add to playlist</span></li>
            </ul>
          </li>
        </ul>

        <h4>Artists</h4>
        <ul class="search__results__artists">
          <li class="search__results__track" ng-repeat="row in results.artists.items.slice( 0, 10 )" ng-dblclick="addToPlaylist( row )" repeat-done-event>
            <span ng-bind-html="row.name"></span>

            <ul class="search__results__track__menu">
              <li class="search__results__track__menu__add" ng-click="addToPlaylist( row )"><span class="vh">Add to playlist</span></li>
            </ul>
          </li>
        </ul>

        <h4>Albums</h4>
        <ul class="search__results__albums">
          <li class="search__results__track" ng-repeat="row in results.albums.items.slice( 0, 10 )" ng-dblclick="addToPlaylist( row )" repeat-done-event>
            <span ng-bind-html="row.name"></span>

            <ul class="search__results__track__menu">
              <li class="search__results__track__menu__add" ng-click="addToPlaylist( row )"><span class="vh">Add to playlist</span></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </section>

  <section class="player" ng-controller="Player" ng-class="{ '--playing': playing }">
    <div class="player__controls">
      <button class="player__controls__prev" ng-click="previousTrack()"><span class="vh">Previous</button>

      <button class="player__controls__play-pause" ng-click="playPause()" ng-class="{ '--stop': playing }">
        <span class="vh">Play/Pause</span>
        <div class="player__controls__image">
          <img class="player__controls__image__outer" border="0" ng-show="currentTrack.thumbnail" ng-src="{{currentTrack.thumbnail}}" />
          <img class="player__controls__image__inner" border="0" ng-show="currentTrack.thumbnail" ng-src="{{currentTrack.thumbnail}}" />
        </div>
      </button>

      <div class="player__progress">
        <p class="player__duration__current__lower" ng-bind-html="currentTime"></p>
        <p class="player__duration__remaining__lower" ng-bind-html="timeRemaining" ng-class="{ '--off': reverseRemaining }"></p>
        <div class="player__track-info__lower">
          <p class="player__track-info__title" ng-bind-html="currentTrack.name"></p>
          <p class="player__track-info__artist" ng-bind-html="currentTrack.artist_string"></p>
        </div>

        <div class="player__progress__inner" ng-style="progressStyles">
          <p class="player__duration__current__upper" ng-bind-html="currentTime"></p>
          <p class="player__duration__remaining__upper" ng-bind-html="timeRemaining" ng-class="{ '--on': reverseRemaining }"></p>
          <div class="player__track-info__upper">
            <p class="player__track-info__title" ng-bind-html="currentTrack.name"></p>
            <p class="player__track-info__artist" ng-bind-html="currentTrack.artist_string"></p>
          </div>
        </div>
      </div>

      <button class="player__controls__next" ng-click="nextTrack()"><span class="vh">Next</button>
    </div>
  </section>

  <section class="content  --center  master-playlist" ng-controller="MasterPlaylist" ng-class="{ '--full-width': fullWidth }">

    <div class="master-playlist__current-track" ng-show="currentTrack" ng-class="{ '--active': playing }">
      <div class="master-playlist__current-track__image">
        <img class="master-playlist__current-track__image__outer" ng-src="{{currentTrack.thumbnail}}" border="0" />
        <img class="master-playlist__current-track__image__inner" ng-src="{{currentTrack.thumbnail}}" border="0" />
      </div>
      <div class="master-playlist__current-track__content">
        <strong ng-bind-html="currentTrack.name"></strong>
        <p ng-bind-html="currentTrack.artist_string"></p>
      </div>
    </div>

    <ul class="master-playlist__tracks" data-drop="true" ng-class="{ '--active': active, '--hover': hover }" jqyoui-droppable="{ onDrop: 'dragDrop', onOver: 'dragOver', onOut: 'dragOut' }">
      <li class="master-playlist__tracks__track" ng-class="{ '--active': track.active, '--disabled': track.unplayable }" ng-repeat="track in tracks track by $index" ng-dblclick="playTrack( track )" data-drag="true" jqyoui-draggable="{ animate: true, onStart: 'dragStart( track, $index )', onStop: 'dragStop( track )' }" data-jqyoui-options="{ appendTo: 'body', helper: 'clone' }">
        <strong class="master-playlist__tracks__track__name" ng-bind-html="track.name"></strong>
        <span class="master-playlist__tracks__track__divider" ng-bind-html="' - '"></span>
        <span class="master-playlist__tracks__track__artist" ng-bind-html="track.artist_string"></span>

        <ul class="master-playlist__tracks__track__menu">
          <li class="master-playlist__tracks__track__menu__delete" ng-click="removeTrack( $index )">
            <span class="vh">Delete track</span>
          </li>
        </ul>
      </li>
    </ul>

  </section>

  <aside class="sidebar" ng-controller="Sidebar" ng-class="{ '--closed': closed }" side="left">

    <div class="sidebar__close">
      <button class="sidebar__close__trigger" ng-click="toggleSidebar()"><span class="vh">Close sidebar</span></button>
    </div>

    <div class="sidebar__content">
      <div class="sidebar__playlists" ng-controller="Playlists">
        <ul>
          <li class="playlist" ng-repeat="playlist in playlists" ng-class="{ '--disabled': ! playlist.tracks || ! playlist.tracks.length, '--active': playlist.activeTracks }">
            <div class="playlist__title" ng-click="showPlaylist( $event, playlist )">
              <img class="playlist__title__image" ng-if="playlist.image" ng-src="{{playlist.image}}" />
              <p class="playlist__title__text" ng-bind-html="playlist.name"></p>
            </div>
            <div class="playlist__tracks">
              <ul>
                <li class="playlist__tracks__track" ng-repeat="track in playlist.activeTracks" data-drag="true" jqyoui-draggable="{ animate: true, onStart: 'dragStart( track )', onStop: 'dragStop( track )' }" data-jqyoui-options="{ appendTo: 'body', helper: 'clone' }" repeat-done-event>
                  <p ng-bind-html="track.track.playlist_title" ng-dblclick="addToPlaylist( track.track )"></p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </aside>

  <aside class="sidebar  --right" ng-controller="Sidebar" ng-class="{ '--closed': closed }" side="right">

    <div class="sidebar__close">
      <button class="sidebar__close__trigger" ng-click="toggleSidebar()"><span class="vh">Close sidebar</span></button>
    </div>

    <div class="sidebar__content">
      <p>Some'n sure gonna happen in here eventually.</p>
    </div>

  </aside>

</article>
