.search
  &__query
    margin: 0 auto
    display: block
    width: 100%

    &::placeholder
      color: #666

    &:focus
      padding:
        top: 0.8rem
        bottom: 0.8rem

      &::placeholder
        color: #222
