@charset "UTF-8";
@font-face { font-family: "icons"; src: url("../../assets/fonts/icons/icons.eot"); src: url("../../assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/icons/icons.woff") format("woff"), url("../../assets/fonts/icons/icons.ttf") format("truetype"), url("../../assets/fonts/icons/icons.svg#icomoon") format("svg"); font-weight: normal; font-style: normal; }
.uppercase { text-transform: uppercase; }

.group:after, .width-restrict:after { content: ""; display: table; clear: both; }

.sr-only { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

.width-restrict { width: 100%; max-width: 1320px; margin: 0 auto; }
.\--content.width-restrict { max-width: 70rem; margin: 0 auto; }

/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; display: block; }

body { background: #222; color: #aaa; font-family: "Jaldi"; }

li { list-style: none; }

strong { font-weight: 700; }

h4 { font-size: 1.2rem; font-weight: 700; margin-bottom: 0.5rem; }

.clearfix:after, .playlist__title:after, .master-playlist__current-track:after { content: ""; display: table; clear: both; }

.vh { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

input[type="text"] { font-family: "Jaldi"; border: none; background: #333; color: #888; padding: 0.4rem 0.6rem; font-size: 1rem; transition: 0.2s; }
input[type="text"]:focus { background: #444; }

button { outline: none; }

.content.\--center { width: 30rem; margin-left: auto; margin-right: auto; }
.content.\--fixed { left: 50%; margin-left: -15rem; }

.player-main { padding-top: 3rem; }

.sidebar { position: fixed; top: 0; left: 0; height: 100%; width: 18rem; background: #333; transition: 0.3s ease-out; }
.sidebar.\--closed { left: -18rem; }
.sidebar.\--right { left: auto; right: 0; }
.sidebar.\--right.\--closed { right: -18rem; }
.sidebar__content { overflow-y: auto; height: 100%; }
.sidebar__close { position: absolute; top: 0; right: -3rem; width: 3rem; height: 100%; }
.sidebar.\--right .sidebar__close { right: auto; left: -3rem; }
.sidebar__close:hover .sidebar__close__trigger, .sidebar:hover .sidebar__close .sidebar__close__trigger { opacity: 1; cursor: pointer; }
.sidebar__close__trigger { background: none; color: #444; border: none; font-size: 2rem; width: 3rem; height: 3rem; transition: 0.2s; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0; }
.sidebar__close__trigger:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.sidebar.\--closed .sidebar__close__trigger { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
.sidebar.\--right .sidebar__close__trigger { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
.sidebar.\--right.\--closed .sidebar__close__trigger { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.playlist { border-bottom: 1px solid #252525; }
.playlist.\--active { background: #444; }
.playlist.\--active .playlist__tracks__track { background: #252525; }
.playlist.\--active .playlist__tracks__track:hover { background: #444; }
.playlist.\--active .playlist__tracks__track:hover p { border-top-color: transparent; }
.playlist__title { cursor: pointer; position: relative; display: table; line-height: 1rem; width: 100%; padding: 0.5rem 1rem 0.5rem 0.5rem; transition: 0.2s; font-size: 1rem; }
.playlist__title:hover { background: #444; }
.\--disabled .playlist__title { opacity: 0.3; cursor: default; }
.playlist__title__image { float: left; display: table-cell; }
.playlist__title__text { display: table-cell; vertical-align: middle; width: 80%; padding-left: 0.7rem; }
.playlist__tracks { font-size: 0.8rem; }
.playlist__tracks__track { cursor: pointer; transition: 0.2s background; padding: 0 0.5rem; }
.playlist__tracks__track.ui-draggable-dragging { font-size: 0.8rem; padding: 0.5rem 1rem; background: #333; border-radius: 1rem; }
.playlist__tracks__track.ui-draggable-dragging p { border: none; }
.playlist__tracks__track p { border-top: 1px solid #333; padding: 0.2rem 0; transition: 0.2s; }

.search { position: fixed; top: 0; z-index: 50; }
.search__query { margin: 0 auto; display: block; width: 100%; }
.search__query::-webkit-input-placeholder { color: #666; }
.search__query::-moz-placeholder { color: #666; }
.search__query:-ms-input-placeholder { color: #666; }
.search__query::placeholder { color: #666; }
.search__query:focus { padding-top: 0.8rem; padding-bottom: 0.8rem; }
.search__query:focus::-webkit-input-placeholder { color: #222; }
.search__query:focus::-moz-placeholder { color: #222; }
.search__query:focus:-ms-input-placeholder { color: #222; }
.search__query:focus::placeholder { color: #222; }
.search__close { background: none; border: none; position: absolute; top: 0; right: 0.5rem; font-size: 1rem; transition: 0.3s; color: #888; opacity: 0; }
.search__close:after { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.\--focus .search__close { top: 1rem; opacity: 1; cursor: pointer; }
.search__results { display: none; background: #333; width: 100%; overflow-y: auto; max-height: 20rem; }
.search__results h4 { padding-bottom: 0.2rem; padding-left: 1rem; border-bottom: 1px solid #444; }
.search__results ul { margin-bottom: 0.5rem; }
.search__results__track { cursor: pointer; transition: 0.2s; padding-left: 2rem; padding-right: 2rem; position: relative; }
.search__results__track:hover { background: #444; }
.search__results__track:hover .search__results__track__menu { opacity: 1; }
.search__results__track:hover .search__results__track__menu > * { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
.search__results__track__menu { position: absolute; top: 0.125rem; right: 0.5rem; opacity: 0; transition: 0.2s; }
.search__results__track__menu > * { transition: 0.3s; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.search__results__track__menu__add:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.search__results__track__menu__add:hover { color: #5FD052; }
.search__results__content { padding: 1rem 0; }

.player { text-align: center; margin-top: 1rem; opacity: 0.5; transition: 0.2s; }
.player.\--playing { opacity: 1; }
.player.\--playing button { width: 3rem; height: 3rem; }
.player > * { display: inline-block; vertical-align: top; }
.player button { border: none; background: #333; color: #888; width: 2rem; height: 2rem; font-size: 1rem; cursor: pointer; transition: 0.2s ease-out; }
.player button:hover { background: #444; }
.player__prev:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__next:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__play-pause:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__play-pause.\--stop:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__duration__current__lower, .player__duration__current__upper, .player__duration__remaining__lower, .player__duration__remaining__upper { position: absolute; top: 0.1rem; font-size: 0.9rem; }
.player__duration__current__lower, .player__duration__remaining__lower { color: #999; z-index: 5; }
.player__duration__current__upper, .player__duration__remaining__upper { color: #444; }
.player__duration__current__lower, .player__duration__current__upper { left: 0.6rem; }
.player__duration__remaining__lower, .player__duration__remaining__upper { right: 0.6rem; transition: 0.3s ease-out; }
.player__duration__remaining__lower { opacity: 1; }
.player__duration__remaining__lower.\--off { opacity: 0; }
.player__duration__remaining__upper { opacity: 0; }
.player__duration__remaining__upper.\--on { opacity: 1; }
.player__progress { width: 0; height: 2rem; transition: 0.3s ease-out; position: relative; }
.player.\--playing .player__progress { width: 66%; background: #333; height: 3rem; margin: 0 0.25rem; }
.player__progress__inner { position: absolute; top: 0; left: 0; width: 0; height: 100%; background: #2ebd59; transition-timing-function: linear; z-index: 10; overflow: hidden; }

.dropzone { overflow: hidden; font-size: 1rem; text-transform: uppercase; text-align: center; transition: 0.2s; background-color: rgba(50, 50, 50, 0); color: #222; height: 0; padding-top: 1.2rem; position: relative; top: 2rem; margin-top: 1rem; }
.dropzone.\--active { background-color: #323232; height: 4rem; top: 0; }
.dropzone.\--hover { background-color: #3c3c3c; }

.master-playlist { margin-top: 1.8rem; }
.master-playlist__current-track { background: #333; opacity: 0.5; transition: 0.2s; }
.master-playlist__current-track.\--active { opacity: 1; }
.master-playlist__current-track.\--active img { -webkit-filter: saturate(100%); filter: saturate(100%); }
.master-playlist__current-track img { width: 10rem; float: left; -webkit-filter: saturate(0%); filter: saturate(0%); transition: 0.2s; }
.master-playlist__current-track__content { position: relative; top: 0.6rem; left: 1rem; font-size: 1.5rem; -webkit-font-smoothing: antialiased; }
.master-playlist__current-track__content strong { text-transform: uppercase; font-size: 2.2rem; line-height: 2.2rem; display: block; padding-right: 1rem; margin-top: -0.3rem; }
.master-playlist__tracks { position: relative; z-index: 5; padding: 1rem; transition: 0.2s; }
.master-playlist__tracks.\--hover { background: #333; }
.master-playlist__tracks__track { cursor: pointer; position: relative; padding-right: 2rem; transition: 0.2s; display: table; width: 100%; }
.master-playlist__tracks__track:hover:after { width: 100%; }
.master-playlist__tracks__track:hover .master-playlist__tracks__track__menu { opacity: 1; }
.master-playlist__tracks__track:hover .master-playlist__tracks__track__menu > * { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
.master-playlist__tracks__track.ui-draggable-dragging { transition: none; display: block; width: auto; padding: 0; }
.master-playlist__tracks__track.ui-draggable-dragging .master-playlist__tracks__track__name { width: auto; }
.master-playlist__tracks__track.ui-draggable-dragging .master-playlist__tracks__track__artist { display: none; }
.master-playlist__tracks__track.\--active { font-size: 1.2rem; border: 1px solid #444; padding: 0.2rem 1rem; width: 110%; left: -5%; background: rgba(255, 255, 255, 0.05); margin: 1rem 0; }
.master-playlist__tracks__track.\--active strong { font-size: 1.4rem; }
.master-playlist__tracks__track.\--disabled { opacity: 0.5; cursor: default; }
.master-playlist__tracks__track:after { content: ""; background: #444; width: 0; height: 1px; position: absolute; left: 0; bottom: 0; transition: 0.6s ease-out; }
.master-playlist__tracks__track strong { font-size: 1.2rem; }
.master-playlist__tracks__track__name, .master-playlist__tracks__track__artist { display: table-cell; padding: 0 0.5rem; }
.master-playlist__tracks__track__name { width: 66%; }
.master-playlist__tracks__track__artist { width: 33%; }
.master-playlist__tracks__track__divider { display: none; }
.master-playlist__tracks__track__menu { position: absolute; top: 0.4rem; right: 0.5rem; transition: 0.2s; opacity: 0; }
.master-playlist__tracks__track__menu > * { transition: 0.3s; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); cursor: pointer; }
.master-playlist__tracks__track__menu__delete:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.master-playlist__tracks__track__menu__delete:hover { color: #e03e3e; }

/*# sourceMappingURL=application.css.map */