@charset "UTF-8";
@font-face { font-family: "icons"; src: url("../../assets/fonts/icons/icons.eot"); src: url("../../assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/icons/icons.woff") format("woff"), url("../../assets/fonts/icons/icons.ttf") format("truetype"), url("../../assets/fonts/icons/icons.svg#icomoon") format("svg"); font-weight: normal; font-style: normal; }
.uppercase { text-transform: uppercase; }

.group:after, .width-restrict:after { content: ""; display: table; clear: both; }

.sr-only { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }

.width-restrict { width: 100%; max-width: 1320px; margin: 0 auto; }
.\--content.width-restrict { max-width: 70rem; margin: 0 auto; }

/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; display: block; }

body { background: #222; color: #aaa; font-family: "Jaldi"; }

.clearfix:after, .playlist__title:after { content: ""; display: table; clear: both; }

.vh { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

input[type="text"] { font-family: "Jaldi"; border: none; background: #333; color: #888; padding: 0.4rem 0.6rem; font-size: 1rem; transition: 0.2s; }
input[type="text"]:focus { background: #444; }

.content.\--center { width: 30rem; margin-left: auto; margin-right: auto; }

.sidebar { position: fixed; top: 0; left: 0; height: 100%; overflow-y: auto; width: 20rem; background: #333; }
.sidebar.\--right { left: auto; right: 0; }

.playlist { border-bottom: 1px solid #252525; }
.playlist.\--active { background: #252525; }
.playlist__title { margin: 0.5rem 0; cursor: pointer; position: relative; display: table; line-height: 1rem; width: 100%; padding: 0.3rem 1rem 0.3rem 0.5rem; transition: 0.2s; font-size: 1rem; }
.playlist__title:hover { background: #444; }
.\--disabled .playlist__title { opacity: 0.3; cursor: default; }
.playlist__title__image { float: left; display: table-cell; }
.playlist__title__text { display: table-cell; vertical-align: middle; width: 80%; padding-left: 0.7rem; }
.playlist__tracks { font-size: 0.8rem; }
.playlist__tracks li { cursor: pointer; transition: 0.2s; padding: 0 0.5rem; }
.playlist__tracks li:hover { background: #444; }
.playlist__tracks li:hover p { border-top-color: transparent; }
.playlist__tracks li p { border-top: 1px solid #333; padding: 0.2rem 0; transition: 0.2s; }

.search { margin-top: 2rem; }
.search__query { margin: 0 auto; display: block; width: 100%; }
.search__query::-webkit-input-placeholder { color: #222; }
.search__query::-moz-placeholder { color: #222; }
.search__query:-ms-input-placeholder { color: #222; }
.search__query::placeholder { color: #222; }

.player { text-align: center; margin-top: 0.5rem; }
.player > * { display: inline-block; vertical-align: top; }
.player button { border: none; background: #333; color: #888; width: 2rem; height: 2rem; font-size: 1rem; cursor: pointer; transition: 0.2s ease-out; }
.player button:hover { background: #444; }
.player__prev:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__next:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__play-pause:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__play-pause.\--stop:before { font-family: "icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: ""; }
.player__duration__current__lower, .player__duration__current__upper, .player__duration__remaining__lower, .player__duration__remaining__upper { position: absolute; top: 0.25rem; font-size: 0.9rem; }
.player__duration__current__lower, .player__duration__remaining__lower { color: #999; z-index: 5; }
.player__duration__current__upper, .player__duration__remaining__upper { color: #444; }
.player__duration__current__lower, .player__duration__current__upper { left: 0.6rem; }
.player__duration__remaining__lower, .player__duration__remaining__upper { right: 0.6rem; transition: 0.3s ease-out; }
.player__duration__remaining__lower { opacity: 1; }
.player__duration__remaining__lower.\--off { opacity: 0; }
.player__duration__remaining__upper { opacity: 0; }
.player__duration__remaining__upper.\--on { opacity: 1; }
.player__progress { width: 0; height: 2rem; transition: 0.3s ease-out; position: relative; }
.player.\--playing .player__progress { width: 18.4rem; background: #333; }
.player__progress__inner { position: absolute; top: 0; left: 0; width: 0; height: 100%; background: #2ebd59; transition-timing-function: linear; z-index: 10; overflow: hidden; }

.dropzone { overflow: hidden; font-size: 1rem; text-transform: uppercase; text-align: center; transition: 0.2s; background-color: rgba(50, 50, 50, 0); color: #222; height: 0; padding-top: 1.2rem; position: relative; top: 2rem; }
.dropzone.\--active { background-color: #323232; height: 4rem; top: 0; }

/*# sourceMappingURL=application.css.map */